
.container {
    margin: 0 auto;
    padding: 0 $container--default-padding;
    width: 100%;
    max-width: 100%;
}

.container:before {
    content: " ";
    display: table;
}

.container:after {
    content: " ";
    display: table;
    clear: both;
}

/** GNAW[container-sizes] **/
