ul, ol {
    margin-bottom: $space--medium;
    list-style-position: outside;
    padding-left: $space--medium;
}

ul li,
ol li {
    margin-bottom: $space--very-small;
}

li > ul,
li > ol {
    margin-bottom: $space--very-small;
}

dt {
    font-weight: bold;
}

dd {
    background: none no-repeat left top;
    padding-left: $space--medium;
}

.no\:list-styles {
    list-style: none;
    padding-left: 0;
}
