ul, ol {
    margin-bottom: $space--medium;
    list-style-position: outside;
    padding-left: $space--medium;
    li {
        margin-bottom: $space--small;
    }
}

li > ul,
li > ol {
    margin-bottom: $space--small;
}

dt {
    font-weight: bold;
}

dd {
    background: none no-repeat left top;
    padding-left: $space--medium;
}
