ul, ol {
    margin-bottom: $space--medium;
    list-style-position: outside;
    padding-left: $space--medium;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    background: none no-repeat left top;
    padding-left: $space--medium;
}
